div.MapSection {
    position: absolute;
    background-color: green;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    margin-left: -10px;
}

div.ServantContainer{
    display: inline-block;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
}

div.ServantContainer div{
    display: inline-block;
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
}